{% if settings.collection_template == "collection_no_sidebar" %}
<a href="#toggle-br-filter" class="br-filter-toggle-icon" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i>Filters</a>
<div id="toggle-br-filter" class="br-filter__show">
  <h2 class="text-uppercase mb-25">filter by</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-md-30">
      <h6 class="text-uppercase mb-15">Size</h6>
      <ul>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            S
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            M
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            L
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            XL
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            2XL
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            3XL
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            One Size
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-30">
      <h6 class="text-uppercase mb-15">Category</h6>
      <ul>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Eyewear
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Pant
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Shirt
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Tee
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Jackets
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Vest
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Sweater
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Short
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            All
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-30">
      <h6 class="text-uppercase mb-15">Colors</h6>
      <ul>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Black
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Green
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Blue
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Gray
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            White
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Golden
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Yellow
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            Silver
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-30">
      <h6 class="text-uppercase mb-15">prices</h6>
      <ul>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            None
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $35.00 - $100.00
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $100.00 - $200.00
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $200.00 - $300.00
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $300.00 - $400.00
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $400.00 - $500.00
          </label>
        </li>
        <li>
          <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span>
            $500.00+
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}