<section class="pb-110 engoc_no_rtl engoj-recently-products-container">
  <div class="container">
    <div class="products-recently">
      <h2 class="br-title text-center">{{ 'general.recently.title' | t }}</h2>
      <div class="row br-slick-white engoj-recently-products br-slick-white"></div>
    </div>
  </div>
</section>