<!-- /templates/page.tonic.liquid -->
<div class="site-main site-homepage tonic-page">

        {% comment %}
        Regular page content goes here.
        {% endcomment %}
        <div class="tonic-page-content">
          {{ page.content }}
        </div>

</div>